{% extends "layout/base.html" %}
{% load render_bundle from webpack_loader %}



<!DOCTYPE html>
<html lang="en">
    <head>
    {% render_bundle 'base' 'css'%}
    {% render_bundle 'index' 'css'%}
    {% render_bundle 'vendors' 'css'%}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hola Mundo {{request.user}}
    <div></div>
</body>
{% render_bundle 'base' 'js'%}
{% render_bundle 'vendors' 'js'%}
{% render_bundle 'index' 'js'%}
</html>